.container__information {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px 0 32px;
  column-gap: 20px;
}

.container__information__title {
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  color: #000000;
  margin: 0;
}

.container__content {
  display: flex;
  justify-content: center;
  column-gap: 24px;
}
