.container__header {
  align-items: center;
  background: #ffffff;
  display: flex;
  height: 80px;
  justify-content: center;
  column-gap: 24px;
}

.container__header img,
.cart {
  cursor: pointer;
}

.container__input {
  position: relative;
}

.container__input input {
  border: 1.5px solid #9ca0ae;
  border-radius: 8px;
  height: 48px;
  width: 948px;
}

.container__input__search {
  position: absolute;
  bottom: 16px;
  right: 16px;
  cursor: pointer;
}

.container__input input::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-weight: 500;
  padding-left: 16px;
}

.container__myaccount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1rem;
  cursor: pointer;
}
